<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <% include partials/nav.ejs	%>
        <h1>
            Welcome to the most awesome website!!
        </h1>
        <p>
            Awesome!!
        </p>
    </body>
</html>