    <!-- ******FOOTER****** -->
    <footer class="footer">
    <div class="container text-center">
        <small class="copyright">EJS &copy; 2112 <a href="http://twitter.com/mde">Matthew Eernisse</a> ::: Template designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
    </div><!--//container-->
    </footer><!--//footer-->
