<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title">
      <span class="highlight">
        <span style="font-size: 60%;"></span>
          Display add here
        <span style="font-size: 60%;"></span>
      </span>
    </h2>
    <p class="intro">Welcome to Bala's site</p>
    <div class="btns">
      <a class="btn btn-cta-secondary scrollto" href="#install">Get Started</a>
    </div>
    <ul class="meta list-inline">
      <li>&nbsp;</li>
    </ul><!--//meta-->
  </div><!--//container-->
  <div class="social-media">
    <div class="social-media-inner container text-center">
      <ul class="list-inline"></ul>
    </div>
  </div>
</section><!--//promo-->